*{
  box-sizing: border-box;
}

.profile {
    display: none;
}
body {
    font-size: 16px;
    font-family: fantasy;
  }
  
  header, main, footer {
    margin: 1rem;
    position: relative;
    text-align: center;
  }
  
  h1 {
    color: #000;
    text-shadow: 0 0 15px #777;
    text-align: center;
  }
  
  h2 {
    color: navy;
    margin: 1rem;
  }
  
main {
    margin-left: 1rem;
    box-shadow: 0 0 30px #777;
  }
  
  #cards {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    padding: 1rem;  
  }
  
  #cards section {
    border: solid;
    background-color: rgb(194, 192, 239); 
  }
  
  img {
    width: auto;
    box-shadow: 0 0 30px #3e3b3b;
    height: 250px;
  }
  
footer {
    border-top: 1px solid #050505;
    padding: 20px;
    font-size: medium;
  }
  
  